<div class="jumbotron">
  <h1 class="display-4 my-4">Hello!</h1>
  <p class="lead my-5">
    You take the blue pill, the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill, you stay in Wonderland, and I show you how deep the rabbit hole goes…
  </p>
  <div class="d-flex flex-wrap justify-content-center mt-5">
    <a routerLink="/posts" class="btn btn-danger the-pills"></a>
    <a routerLink="/matrix-failed" class="btn btn-primary the-pills"></a>
  </div>
</div>
